<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>e.ai Robôs</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-warning">
            <div class="container">
                <a href="index.html"><img src="../assets/img/logo.png" alt="Imagem1" width="142" class="navbar-brand" ></a>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav-principal">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/company/eai-tecnologias-inteligentes/" class="nav-link">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://api.whatsapp.com/send?phone=5581991620608&text=Ol%C3%A1%2C+encontrei+voc%C3%AAs+no+Instagram+e+quero+saber+mais+sobre+os+servi%C3%A7os+da+e.A%C3%8D" class="nav-link">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href:="//www.instagram.com/e.aitecnologiasinteligentes/" class="nav-link">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--
    <main class="qualidade">
        <div class="valor">
            <h1>
                Altos níveis de satisfação e tecnologia de alta qualidade para automatizar as tarefas
            </h1>
            <img src="../assets/img/selo.png" alt="Imagem2">
        </div>
    </main>
    <footer>
        <div class="ola">
            <img src="../assets/img/footer.png" alt="" width="100%" bottom="0">
        </div>
        <div class="icones">
            <a href="#"><i class="bi bi-person-fill"></i></a>
            <a href="../views/produtos.html"><i class="bi bi-bag-fill"></i></a>
        </div>
    </footer>
    -->
    <!-- JQUERY --> 
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
    
    

    $(document).ready(function () {
    $(".btn-menu").click(function (e) {
        $(this).closest('.menu_btn').toggleClass("hover");
        e.stopPropagation();
    });
    $(document).on('click', function (e) {    
        if (!$(e.target).closest('.hover').length) $('.menu_btn').removeClass("hover");
        });
    });
    </script>
</body>
</html>