<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/icone.ico" type="image/x-icon">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <title>e.ai Robôs</title>
    </head>
<body>

    <div class="cabecalho">
        <div class="imagem">
            <img src="../assets/img/logo.png" alt="Imagem da logo"/>
        </div>
    </div>
    <div class="login">
        <fieldset>
            <div class="dados">
                <label>Usuário<br />
                    <input type="text" name="Username" placeholder="Digite seu usuário"/></label><br />
                </label>
                <label>Senha<br />
                    <input type="password" name="password" placeholder="Digite sua senha" /></label><br />
                </label>
            </div>
            <input type="button" class="botaologin" value="Entrar">
        </fieldset>
        <div class="botoes">
            <a href="#"><button><img src="../assets/img/gmail.png" alt=""></i> Entrar com Google</button></a>
            <a href="#"><button><img src="../assets/img/facebook.png" alt=""></i> Entrar com Facebook</button></a>
        </div>
        <div class="novo">
            <a href="#">Esqueci minha senha</a>
            <a href="#">Não possui cadastro? </a>
        </div>
    </div>
    
</body>
</html>