<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>e.ai Robôs</title>
</head>
<body>
    <header>
        <button class="btn-menu"><i class="bi bi-list"></i></button>
        <a href="../views/index.html"><i class="bi bi-arrow-left-short"></i></a>
        <nav class="menu">
            <a class="btn-closee"><i class="bi bi-list"></i></a>
            <ul>
                <li><a href="https://www.linkedin.com/company/eai-tecnologias-inteligentes/"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=5581991620608&text=Ol%C3%A1%2C+encontrei+voc%C3%AAs+no+Instagram+e+quero+saber+mais+sobre+os+servi%C3%A7os+da+e.A%C3%8D"><i class="bi bi-whatsapp"></i></a></li>
                <li><a href:="//www.instagram.com/e.aitecnologiasinteligentes/"> <i class="bi bi-instagram"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <div class="logo-marca">  
        <a href="../views/index.html"><img src="../assets/img/logo.png" alt="Imagem1" ></a>
    </div>
    <!-- JQUERY --> 
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
    $(".btn-menu").click(function(){
      $(".menu").show();
    });
    $(".btn-closee").click(function(){
      $(".menu").hide();
    });
    </script> 
</body>
</html>